$bkgColor: aliceblue;
$color: rgb(255, 201, 40);
$border: 4px solid rgb(255, 201, 40);

// Fonts
$font: 'Megrim', cursive;

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
}

.wrapper {
  width: 90%;
  // border: $border;
  margin: 0 auto;

  overflow-x: hidden;
  position: relative;
  right: 0;
}

.menu-open {
  right: 80px;
}

.menu-open .navpop {
  right: 0;
}

.wrapper, .navpop {
  -webkit-transition: right 300ms ease;
  -moz-transition: right 300ms ease;
  transition: right 300ms ease;
}

.navpop {
  // margin-top: 2%;
  // // margin-right: 10px;
  // width: 150px;
  // height: 150px;
  // float: right;
  // background-color: $color;
  // border-radius: 10px 0 10px 10px;
  // display: none; // Change to display: block when navicon is clicked

  background-color: black;
  color: $color;
  position: fixed;
  top: 0;
  right: -231px;
  width: 210px;
  height: 100%;
  padding: 10px;

}

.navpop ul {
  margin: 0;
  padding: 10px;
}

.navpop li {
  list-style: none;
  padding: 10px;
  font-weight: bold;
}

#header {
  // border: $border;
  height: 220px;
  font-family: $font;
}

#logo {
  // border: $border;
  // background-color: $bkgColor;
  width: 100px;
  height: 100px;
  float: left;
  margin-left: 1%;
  margin-top: 1%;
}

header h1 {
  margin: 0 auto;
  float: left;
  font-size: 3em;
  margin-top: 16px;
  margin-left: 10px;
}

#navicon:hover {
  background-color: $color;
  border-radius: 10px;
}

#navicon {
  // border: $border;
  height: 50px;
  width: 50px;
  float: right;
  margin-top: 2%;
  margin-right: 80px;
  padding: 5px;
  border-radius: 0 10px 10px 0;
  background-image: url("https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-256.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
}

a {
  text-decoration: none;
  color: $color;
}

a:hover {
  font-size: 1.5rem;
}

#container {
  // border: $border;
  margin-top: 1%;
  height: 400px;
  background-color: $color;
  border-radius: 10px;
}

.game {
  border-radius: 10px;
  background-color: aliceblue;
  float: left;
  width: 200px;
  height: 250px;
  margin-left: 2%;
  margin-top: 1%;
}

.gameimg {
  margin-left: 25px;
  margin-top: 10px;
  height: 200px;
  width: 150px;
  border-radius: 10px;
}

.platformimg {
  height: 30px;
  width: 120px;
  margin-left: 35px;
}

// #rightcol {
//   border: $border;
//   background-color: $color;
//   // background-image: url("http://static9.cdn.ubi.com/resource/en-US/game/assassins-creed/ac/acs-gi-bg1-new.jpg");
//   // background-repeat: no-repeat;
//   // background-position: top;
//   // background-size: cover;
//   float: left;
//   width: 150px;
//   height: 200px;
//   margin-top: 1%;
//   margin-left: 2%;
// }


footer {
  border: $border;
  background-color: rgb(255, 201, 40);
  clear: both;
  margin-top: 2%;
  height: 60px;
  font-family: $font;
  border-radius: 10px 10px 0 0;
}

footer p {
  text-align: center;
}

#sitename {
  font-size: 2rem;
  list-style: none;
  width: 600px;
}
